.platform{
	@extend %alignment;
	margin-top: 300px;
	display: none;
}

#base {
	width: 250px; //3x largest disc width discs
	height: 20px;
	background: brown;
	position: relative;
}

.pole{
	width: 10px;
	height: 200px;
	background: brown;
	display: inline-block;
}

#pole1{
	position:absolute;
	top:-200px; //height of sum of discs
}

#pole2{
	position:absolute;
	top:-200px;
}
#pole3{
	position:absolute;
	top:-200px;
}

.discs{
	@extend %alignment;
	-webkit-flex-flow: column wrap;
  	flex-flow: column wrap;
  	justify-content: flex-start;
}

.disc{
	display: flex;
	height: 15px;
	z-index:2;
	border-radius: 5px;
	background: green;
	position: relative;
}

#disc1{
	position: relative;
}